<div class="toolbar" *ngIf="isMenuVisible">
  <span>Carrito de Compras</span>
  <a routerLink="/tienda">Tienda</a>
  <a routerLink="/articulo">Artículo</a>
  <a routerLink="/cliente">Cliente</a>
  <a routerLink="/articulotienda">Artículos - Tienda</a>
  <a routerLink="/clientesarticulos">Clientes - Artículos</a>
  <div class="spacer"></div>
  <div>{{userName}}</div>
  <a routerLink="/auth" (click)="salir()">Salir</a>
</div>
<div class="content" style="width: 100%;display: block;">
  <router-outlet></router-outlet>
</div>
